/* Google font import */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");

/* Root element styles */
html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Rubik", sans-serif;
}

/* Hide scrollbars in modern browsers */
* {
  -ms-overflow-style: none;
}
::-webkit-scrollbar {
  display: none;
}
